# Flutter/Dart
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies

# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws
.DS_Store

# Generated
*.g.dart
*.freezed.dart
*.mocks.dart

# Misc
*.log
*.pyc
.env
